<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yasina.llapp" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".forPainting.Color_Picker" />
        <activity android:name=".Activities.ListDictionariesActivity" />
        <activity android:name=".Activities.AddDictionaryActivity" />
        <activity android:name=".AddWordsActivity" />
        <activity android:name=".forPainting.MainPaint" />
        <activity android:name=".Activities.ListWordsPairActivity" />

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".Train.TrainWordsActivity"
            android:label="@string/title_activity_train_words" >
        </activity>
        <activity
            android:name=".Train.MenuTrainActivity"
            android:label="@string/title_activity_menu_train" >
        </activity>
        <activity
            android:name=".Notification.NotificationWordActivity"
            android:label="@string/title_activity_notification_word" >
        </activity>
        <activity
            android:name=".Notification.NotificationView"
            android:label="@string/title_activity_notification_view" >
        </activity>
        <activity
            android:name=".Alarm.AlarmListActivity"
            android:label="@string/title_activity_alarm_list" >
        </activity>
        <activity android:name=".Alarm.AlarmDetailsActivity" >
        </activity>
        <activity android:name=".Alarm.AlarmScreen" >
        </activity>

        <service
            android:name=".Alarm.AlarmService"
            android:enabled="true" />

        <!--
        <receiver android:name=".Alarm.AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".Train.TestTrain"
            android:label="@string/title_activity_test_train" >
        </activity>
        <activity
            android:name=".forPainting.ChooseColor"
            android:label="@string/title_activity_choose_color" >
        </activity>
    </application>

</manifest>
